<hr>
<div class="row">
    <div class="col-xl-6">
        <sb-card
            ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>Bar Chart Orders</div>
            <div class="card-body"><sb-charts-bar></sb-charts-bar></div
        ></sb-card>
    </div>
    <div class="col-xl-6">
        <sb-card
            ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-area"]'></fa-icon>Pie Chart Doctor</div>
            <div class="card-body"><sb-charts-pie></sb-charts-pie></div>
        </sb-card>
    </div>
 </div>